body{
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
}
.box-1{
    background-color: springgreen;
    border-radius: 1px;
    width: 433px;
    padding: 35px 0px 60px 18px;
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.width-100pct {
    width: 100%;
}
.mb-10 {
    margin-bottom: 10px;
}
.font-style {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.font-bold {
    font-weight: 200px;
}
.btn-1 {
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: white;
}
.box-2{
    border: 1px solid lightgray;
    width: 433px;
    border-radius: 10px;
}
.box-2-padding {
    padding: 30px 56px 20px 23px;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 9px 20px 13px 
}
.footer a {
    text-decoration: none;
}
.img-style {
    width: 95px;
    height: 96px;
    border-radius: 50%;
}
.center {
    text-align: center;
}
.mt-20 {
    margin-top: 20px;
}
.pr-80 {
    padding-right: 80px;
}
.btn-2 {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    color: #1948ae;
}
.btn-3 {
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.login {
    width: 443px;
    padding: 35px 0px 60px 18px;
    
    box-sizing: border-box;
}
.input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.register {
    color: black;
}
